@import "base";

.jumbotron {
  background: none;
  border: 1px solid $light-gray;
  text-align: center;
}

.form.signup-form {
  margin: 0 auto;

  button {
    width: 44%;

    &:first-of-type {
      float: left;
    }

    &:last-of-type {
      float: right;
    }
  }

  .or {
    line-height: 34px;
  }
}
