@import "base";

.jumbotron {
  background: none;
  border: 1px solid $light-gray;
  text-align: center;
}

.form-signin {
  margin: 0 auto;
  max-width: 300px;

  input {
    margin-bottom: 10px;
  }

  button {
    width: 44%;

    &:first-of-type {
      float: left;
    }

    &:last-of-type {
      float: right;
    }
  }

  .or {
    line-height: 34px;
  }
}

.form-message {
  margin-bottom: 10px;
}